* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: #000000;
  --purple-blue: #6922e5;
  --white: #ffffff;
  --navy: #001d21;
  --charcoal-grey: #323643;
  --dark-blue-grey: #0d1726;
  --electric-purple: #b533ff;
  --black-two: #060606;
  --black-4: rgba(0, 0, 0, 0.04);
  --slate-grey-12: rgba(103, 106, 116, 0.12);
  --dark-indigo: #060d2a;
  --cool-grey: #8c9196;
  --pale-grey: #f5f7fb;
  --black-14: rgba(0, 0, 0, 0.14);
  --white-two: #f2f2f2;
  --gunmetal-12: rgba(74, 95, 94, 0.12);
  --picked-up: #b6932a;
  --delivered-load: #3e884f;
  --new-load: #c43d4b;
  --background-chatbot: #777eff;
}

@font-face {
  font-family: SFProText-Regular;
  src: url(../fonts/SFProText-Regular.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: SFProText-SemiBold;
  src: url(../fonts/SFProText-SemiBold.otf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: SFProDisplay-Bold;
  src: url(../fonts/SFProDisplay-Bold.otf);
  font-weight: bold;
  font-style: normal;
}

html,
body {
  height: 100%;
  font-size: 15px;
  margin: 0;
  padding: 0;
  background-color: var(--purple-blue);
  color: #232530;
  font-family: SFProText-Regular;
  letter-spacing: 0.06em;
  -webkit-text-size-adjust: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 1000s ease-in-out 0s;
}

input {
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  // /* Then Style */
  // border-radius: 15px;
  // border: 1px dashed #BBB;
  // padding: 10px;
  // line-height: 20px;
  // text-align: center;
  // background: transparent;
  // outline: none;
}

p {
  margin: 0;
}

.loadingLayer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--charcoal-grey);
  opacity: 0.5;
  z-index: 1;
}

.loading {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 3px solid var(--electric-purple);
  border-radius: 50%;
  border-top-color: var(--white);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
  position: fixed;
  z-index: 2;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
