.containerLoadDetail {
  background-color: var(--pale-grey);
  min-height: 100vh;
  .iconDetail {
    filter: invert(1);
    background-color: white;
    border-radius: 12px;
  }
  .headerLoadDetail {
    padding: 24px;
    border-bottom: solid 1px var(--gunmetal-12);
    .loadID {
      font-family: SFProText-SemiBold;
      font-size: 20px;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: var(--navy);
    }
  }
  .containerContentLoad {
    padding: 20px;
    width: 100%;
    max-width: 500px;
    margin: auto;
  }
}
