.containerLoadDetail {
  background-color: var(--pale-grey);
  min-height: 100vh;
  .headerLoadDetail {
    padding: 24px;
    border-bottom: solid 1px var(--gunmetal-12);
    .loadID {
      font-family: SFProText-SemiBold;
      font-size: 20px;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: var(--navy);
    }
  }
  .containerContentLoad {
    padding: 20px;
    padding-bottom: 0px;
    width: 100%;
    max-width: 500px;
    margin: auto;
    .contentLoad {
      box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.08);
      background-color: var(--white);
      border-radius: 12px;
      margin: 20px 0;
      .contentSection {
        padding: 23.5px 16px;
        border-bottom: solid 1px var(--gunmetal-12);
        .contentLoadId {
          font-family: SFProDisplay-Bold;
          font-size: 24px;
          font-stretch: normal;
          line-height: 1.67;
          letter-spacing: -0.21px;
          color: var(--dark-blue-grey);
        }

        .sectionItem {
          padding-bottom: 33px;
          .loadType {
            border-radius: 8px;
            -webkit-backdrop-filter: blur(12.5px);
            backdrop-filter: blur(12.5px);
            background-color: var(--electric-purple);
            padding: 5px 15px;
            font-family: SFProText-SemiBold;
            font-size: 12px;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: 0.2px;
            text-align: center;
            color: var(--white);
            text-transform: uppercase;
          }
          .loadAddress {
            text-align: left;
          }
        }
      }
    }
  }
}
