.contentLoad {
  border-radius: 12px;
  margin: 12px 0;
  .arrowUp {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 15px solid transparent;
    border-left: 15px solid var(--white);
    margin-left: 35px;
    position: relative;
  }

  .sectionFirst {
    box-shadow: 0 2px 16px 0 var(--black-8) !important;
  }
  .section {
    border-radius: 12px;
    background-color: var(--white);
    box-shadow: 0 2px 16px 0 var(--black-8);
    margin-bottom: 12px;

    .contentSection:first-child {
      border-bottom: solid 1px var(--gunmetal-12);
    }

    .contentSection {
      padding: 23.5px 16px;

      .contentLoadId {
        font-family: SFProDisplay-Bold;
        font-size: 19px;
        font-stretch: normal;
        line-height: 1.67;
        letter-spacing: -0.21px;
        color: var(--dark-blue-grey);
      }

      .sectionItem {
        padding-bottom: 33px;

        .loadType {
          border-radius: 8px;
          -webkit-backdrop-filter: blur(12.5px);
          backdrop-filter: blur(12.5px);
          background-color: var(--electric-purple);
          padding: 5px 15px;
          font-family: SFProText-SemiBold;
          font-size: 12px;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: 0.2px;
          text-align: center;
          color: var(--white);
          text-transform: uppercase;
        }

        .loadAddress {
          text-align: left;
        }

        .linkImageLoad {
          opacity: 0.72;
          font-family: SFProText-Regular;
          font-size: 16px;
          font-stretch: normal;
          line-height: 1.31;
          letter-spacing: -0.26px;
          text-align: right;
          color: var(--purple-blue);
          padding: 0;
          text-decoration: none;
        }
      }
    }
  }
}
