.textInput {
  height: 50px !important;
  opacity: 0.88;
  border-radius: 8px !important;
  background-color: var(--white-two) !important;
  font-size: 16px !important;
  font-weight: normal !important;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px !important;
  color: var(--black) !important;
  padding: 15px !important;
}